%h1 Listing session_of_timers

%table.table.main-table
  %thead
    %tr
      %th Date
      %th Time in work
      
  %tbody
    - @session_of_timers.each do |session_of_timer|
      %tr
        %td= session_of_timer.start_time
        %td= session_of_timer.day.int_to_time session_of_timer.time_in_work

%br