%table#days_view.table.main-table
  %thead
    %tr
      %th Day
      %th Plan time
      %th Summary day time
  - @days.each do |d|
    %tbody.left-aligned-tbody
      %tr
        %td
          =d.date
        %td
          =d.time_to_plan.to_formatted_s(:only_time)
        %td
          =d.get_formatted_sum_time_of_day(d.id)